extends layout

block content
    h1 Resgister
    form(method="post", action='/users/register')
        .form-group
            label(for="username") Username 
            input.form-control(type="text", name="name")
        .form-group
            label(for="password") Password
            input.form-control(type="password", name="password")
        input.btn.btn-primary(type="submit", value="Submit")